In [2]:
import pandas as pd
import json
import requests
import datetime

In [3]:
def sjs_calender(month_str):
    url='http://www.szse.cn/api/report/exchange/onepersistenthour/monthList?month={}'.format(month_str)
    res=requests.get(url)
    res_data=json.loads(res.text)['data']
    df=pd.DataFrame(res_data).set_index('jyrq')
    df.columns=['weekday','trade_day']
    return df

def get_next_tradeday(date_str:str):
    """

    :param date_str: 传入一个完整的时间字符串如‘2021-02-02’
    :return:
    """
    year=int(date_str[0:4])
    month=int(date_str[5:7])
    if month != 12:
        next_month='{}-{}'.format(year,month+1)
    else:
        next_month='{}-{}'.format(year+1,'01')
    df=pd.concat([sjs_calender(date_str[:7]),sjs_calender(next_month)])
    after_today = df.loc[date_str:].iloc[1:]
    next_trade_day= after_today[after_today['trade_day']=='1'].index[0]
    return next_trade_day

In [6]:
get_next_tradeday('2020-12-01')

'2020-12-02'

In [20]:
def sjs_calender(month_str):
    url='http://www.szse.cn/api/report/exchange/onepersistenthour/monthList?month={}'.format(month_str)
    res=requests.get(url)
    res_data=json.loads(res.text)['data']
    df=pd.DataFrame(res_data)
    df.columns=['weekday','trade_day','calendar_day']
    return df

In [21]:
pd.concat([sjs_calender(str(2021)+'-'+str(month).zfill(2)) for month in range(1,13)])

    weekday trade_day calendar_day
0         6         0   2021-01-01
1         7         0   2021-01-02
2         1         0   2021-01-03
3         2         1   2021-01-04
4         3         1   2021-01-05
..      ...       ...          ...
26        2         1   2021-12-27
27        3         1   2021-12-28
28        4         1   2021-12-29
29        5         1   2021-12-30
30        6         1   2021-12-31

[365 rows x 3 columns]

In [24]:
from sqlalchemy import create_engine

trade_day_db_path='../my_scheduled_app/'+'交易日.db'
engine_trade_day = create_engine(r"sqlite:///"+trade_day_db_path)

for year in range(2005,2022):
    print(year)
    year_all=pd.concat([sjs_calender(str(year)+'-'+str(month).zfill(2)) for month in range(1,13)])
    year_all.index=[i for i in range(len(year_all.index))]
    print(year_all)
    year_all.to_sql('year'str(year), engine_trade_day, if_exists="replace")
    break

2005
     weekday trade_day calendar_day
0          7         0   2005-01-01
1          1         0   2005-01-02
2          2         0   2005-01-03
3          3         1   2005-01-04
4          4         1   2005-01-05
..       ...       ...          ...
360        3         1   2005-12-27
361        4         1   2005-12-28
362        5         1   2005-12-29
363        6         1   2005-12-30
364        7         0   2005-12-31

[365 rows x 3 columns]